GoodReads/bin/
GoodReads/obj/
Services/bin/
Services/obj/
Core/bin/
Core/obj/
DataAccess/bin/
DataAccess/obj/
GoodReads.Tests/obj
GoodReads.Tests/bin
packages/*
*.suo
*.user
.vs/
node_modules/
package-lock.json
